*-generated.build
*-generated.cs
*-generated.resx
*-generated.Designer.cs
*.ico.gif
*.local
*.local.ben.xml
*.exe.config
*.CollectedGettext.cs
*.bak
_bin
obj
*.yaml.xml
*.yml.xml
*.cs.error
*.error
*.new
*.resources
*.FileListAbsolute.txt
*.pdb
*.pidb
*.orig
*.patch
*.de-DE.yaml
*.da-DK.yaml
*.es-ES.yaml
-*.xml
